/* Basic styles for the Home component */
.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Styles for the left-side and image container */
  .left-side {
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px; /* Add some space below the image */
  }
  
  .image {
    width: 100%; /* Make the image take full width */
    max-width: 400px; /* Limit the maximum width */
    height: auto; /* Maintain aspect ratio */
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, filter 0.3s ease, opacity 1s ease-out;
    opacity: 0;
  }
  
  .image.loaded {
    opacity: 1;
  }
  
  .image:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
  }
  
  /* Styles for the right-side and content */
  .right-side {
    flex: 1;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .right-side .content {
    max-width: 600px;
    text-align: center;
  }
  
  .right-side h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .right-side p {
    font-size: 1.25rem;
  }
  
  /* Responsive styles for smaller screens */
  @media (min-width: 768px) {
    .home {
      flex-direction: row;
      padding: 0;
    }
  
    .left-side {
      flex: 0 0 40%;
      margin-bottom: 0;
    }
  
    .right-side h1 {
      font-size: 3rem;
    }
  }
  